<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <head>{{ partial "docs/html-head" . }}{{ partial "docs/inject/head" . }}
  </head>
  <body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
    <input type="checkbox" class="hidden toggle" id="menu-control">
  {{- if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <input type="checkbox" class="hidden toggle" id="toc-control">
  {{- end }}
    <main class="container">
      <div class="book-page">
        <header class="book-header">
          {{- partial "docs/header" . }}
        </header>
        {{- partial "docs/page-title" . }}
        {{- partial "docs/inject/content-before" . }}
        {{- template "main" . }}<!-- Page Content -->
        {{- partial "docs/inject/content-after" . }}
        <footer class="book-footer">
        {{- template "footer" . }}<!-- Footer under page content -->
        {{- partial "docs/inject/footer" . }}
        </footer>
      </div>

      <aside class="menu">
        <div class="menu-content">
          {{- partial "menu/menu" . -}}<!-- Left menu Content -->
        </div>
      </aside>

      {{- if default true (default .Site.Params.BookToC .Params.BookToC) -}}
      <aside class="book-toc">
        <div class="book-toc-content">
          {{- template "toc" . -}}<!-- Table of Contents -->
        </div>
      </aside>
      {{- end -}}
    </main>
    {{- partial "docs/inject/body" . -}}
  </body>
</html>

{{- define "footer" }}
  {{- partial "docs/footer" . }}
{{- end }}

{{- define "comments" }}
  {{- if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{- end }}
{{- end }}

{{- define "main" }}
          <article class="markdown">
            {{ .Content }}
          </article>
{{- end -}}

{{ define "toc" }}
  {{- partial "docs/toc" . }}
{{- end -}}
