{{- if . }}
  {{- template "hugo-menu" . }}
{{- end }}

{{- define "hugo-menu" }}
            <ul>
            {{- range . }}
              <li>
                <a href="{{ .URL }}" {{ with .Params.class }}class="{{ . }}"{{ end }} {{ if not .Page }}target="_blank" rel="noopener"{{ end }}>
                {{- .Pre }}
                {{- with .Page }}
                  {{- partial "docs/title" .Page }}
                {{- else }}
                  {{- .Name }}
                {{- end }}
                {{- .Post }}
                </a>
                {{- with .Children }}
                  {{- template "hugo-menu" . }}
                {{- end }}
              </li>
            {{- end }}
            </ul>
{{- end -}}
