{{- /* The side bar menu for the site */}}
          <nav>
            {{- partial "docs/brand" . }}
            {{- partial "docs/search" . }}
            {{- if .Site.IsMultiLingual }}
              {{- partial "docs/languages" . }}
            {{- end }}

            {{- partial "docs/inject/menu-before" . }}
            {{- partial "menu/hugo" .Site.Menus.before }}

            {{- if .Site.Params.BookMenuBundle }}
              {{- partial "menu/bundle" . }}
            {{- else }}
              {{- partial "menu/filetree" . }}
            {{- end }}

            {{- partial "menu/hugo" .Site.Menus.after }}
            {{- partial "docs/inject/menu-after" . }}
          </nav>

<!-- Restore menu position as soon as possible to avoid flickering -->
        {{- $script := resources.Get "menu-reset.js" }}
        {{- with $script.Content }}
          <script>{{ . | safeJS }}</script>
        {{- end -}}
