{{ define "main" }}
<article class="markdown">
  <h2>{{ .Title | title }}</h2>
  {{ $taxonomies := index .Site.Taxonomies .Page.Type }}
  {{ range $taxonomies }}
    <div><a href="{{ .Page.Permalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a></div>
  {{ end }}
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
