{{- with page }}
            <h2 class="brand">
              <a class="flex align-center" href="{{ cond (not .Site.Home.File) .Sites.First.Home.RelPermalink .Site.Home.RelPermalink }}">
              {{- if ne .Site.Params.LogoHidden true }}
                {{- $logo := default "svg/logo.svg" .Site.Params.Logo | relURL }}
                {{- $logoColour := default "var(--body-font-color)" .Site.Params.LogoColour }}
                <img src="//:0" alt="Logo" style="background-color: {{ $logoColour | safeCSS }};-webkit-mask-image: url({{ $logo }});mask-image: url({{ $logo }});">
              {{- end }}
                <span>{{ .Site.Title | default "Letter Press"}}</span>
              </a>
            </h2>
{{- end -}}
