<!--Generates header content for mobile devices-->
          <div class="flex align-center justify-between">
            <label for="menu-control">
              <img src="{{ "svg/menu.svg" | relURL }}" class="book-icon" alt="Menu">
            </label>
            <strong>{{ partial "docs/title" . }}</strong>
            {{- if default true (default .Site.Params.BookToC .Params.BookToC) }}
            <label for="toc-control">
              <img src="{{ "svg/toc.svg" | relURL }}" class="book-icon" alt="Table of Contents">
            </label>
            {{- end }}
          </div>
          {{- if default true (default .Site.Params.BookToC .Params.BookToC) }}
          <aside class="hidden clearfix">
            {{- partial "docs/inject/toc-before" . }}
            {{- partial "docs/toc" . }}
            {{- partial "docs/inject/toc-after" . }}
          </aside>
          {{- end -}}
