<!-- Indentation to match page structure -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{- default .Summary .Description -}}">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="color-scheme" content="light dark">
    {{- partial "head/bookHref" . }}
    {{- partial "head/opengraph.html" . }}
    {{- partial "head/html-title" . }}
    {{- partial "head/manifest" }}
    {{- partial "head/favicon" }}
    {{- partial "head/translations" . }}
    {{- partial "head/stylesheet" }}
    {{- partial "head/bookSearch" . }}
    {{- partial "head/serviceWorker" . }}
    {{- template "_internal/google_analytics.html" . }}
    {{- partial "head/rss" . }}
    {{ "<!--Made with Letter Press Theme https://gitlab.com/makejames/letter-press-->" | safeHTML }}
    {{ "<!--The Letter Press Theme is a fork of the Hugo Book theme https://github.com/alex-shpak/hugo-book-->" | safeHTML -}}
