        <div class="markdown">
          <h1>{{ partial "docs/title" . }}</h1>
          <div class="bread-crumb">
            {{- template "crust" .Page -}}
            <hr>
          </div>
        </div>

{{- define "crust" }}
  {{- if .Parent }}
            <ul>
    {{- with .Parent }}
      {{- template "crumb" . }}
    {{- end }}
              <li class="last-crumb">
                <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
              </li>
            </ul>
  {{- end }}
{{- end -}}

{{- define "crumb" }}
  {{- if .Parent }}
    {{- with .Parent }}
      {{- template "crumb" . }}
    {{- end }}
              <li>
                <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
              </li>
  {{- end }}
{{- end -}}
