          {{- if default true .Site.Params.BookSearch }}
            <div class="book-search">
              <input type="text" id="book-search-input" placeholder="{{ i18n "Search" }}" aria-label="{{ i18n "Search" }}" maxlength="64" data-hotkeys="s/" />
              <div class="book-search-spinner hidden"></div>
              <ul id="book-search-results"></ul>
            </div>
          {{- end -}}
