{{- partial "docs/inject/toc-before" . }}
  <nav>
    {{- if .Params.customToC }}
      {{- template "toc" .Params.customToC }}
    {{- else }}
      {{- range .Fragments.Headings }}
        {{- template "toc" .Headings }}
      {{- end }}
    {{- end }}
  </nav>
{{- partial "docs/inject/toc-after" . -}}

{{- define "link" -}}
{{- $id := default .Title .ID -}}
{{- $title := .Title -}}
{{- $id = index ( split $id "hahahugoshortcode" ) 0 -}}
{{- $title = index ( split $title "hahahugoshortcode" ) 0 -}}
<a href="#{{ anchorize $id }}">{{ htmlUnescape $title | safeHTML }}</a>
{{- end }}

{{- define "toc" }}
      <ul>
        {{- range . }}
        <li>
          {{ template "link" . }}
          {{- if ge .Headings 1 }}
            {{- template "toc" .Headings }}
          {{- end }}
        </li>
        {{- end }}
      </ul>
{{- end -}}
