{{- $file := .Get 0 }}
{{- with index $.Site.Data.recipe $file }}
      <h2>{{ .title }}</h2>
      <p>
        {{- with .source }}
          {{- .author }} | <a href="{{ .url }}">{{ .title }}</a>
        {{- end }}
        {{- with .yields }}
        {{- end }}
      </p>
      <p>
        {{- markdownify .description }}
      </p>
      <h3>Ingredients</h3>
      <ul>
        {{- range .ingrediants }}
        <li>
          <strong>{{- .amount }}{{ .unit }} </strong>
          {{- .name }}
        </li>
        {{- end }}
      </ul>
      {{- with .yields }}
      <p><strong>{{ .text }}:</strong> {{ .quantity }}</p>
      {{- end }}
      <h3>Steps</h3>
      <ol>
        {{- range .steps }}
        <li>{{ .step }}
        {{- if .haccp }}
        <blockquote class="book-hint danger">
          {{ markdownify .haccp.control_point }}
        </blockquote>
        {{- end }}
        {{- if .notes }}
          <ul>
            {{- range .notes }}
            <li>{{ markdownify . }}</li>
            {{- end }}
          </ul>
        {{- end }}
        </li>
        {{- end }}
      </ol>
      <h3>Notes</h3>
      <ul>
        {{- range .notes }}
        <li>
          {{- markdownify . }}
        </li>
        {{- end }}
      </ul>
{{- end -}}
