<!--TODO: Render section headers to the ToC-->
{{- range .Page.Pages }}
{{- $title := partial "docs/title" . }}
{{- $title = htmlUnescape $title }}
    <h2 id="{{ anchorize $title }}">
      <a class="header-link" href="{{ .RelPermalink }}">{{ $title }}</a>
      <a class="anchor" href="#{{ anchorize $title }}">#</a>
    </h2>
    <div class="markdown-inner">{{ default .Summary .Description }}</div>
{{- end -}}
